run = "npm run dev"
entrypoint = "src/main.jsx"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm run preview"]
deploymentTarget = "cloudrun"
